<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }

      .top-right {
        position: absolute;
        top: 10px;
        right: 20px;
        background: #333;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
      }
      .top-right a {
        color: #f1c40f;
        text-decoration: none;
        margin-left: 10px;
      }
      .top-right a:hover {
        text-decoration: underline;
      }

    </style>
  </head>
  <body>
  <ul>

  <% if session[:user_id] %>
    <% @user = User.find_by(id: session[:user_id]) %>
    <% if @user %>
       <div class="top-right">
        Logged in as <strong><%= @user.username %></strong>.
        <%= link_to 'Logout', user_logout_path, method: :delete %>
      </div>
      <li><%= link_to 'Home', work_session_index_path %></li>
    <% end %>
  <% else %>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Signup', new_signup_path %></li>
    <li><%= link_to 'Login', login_path %></li>
  <% end %>
  </ul>
  
  </body>
</html>
